
for dir in $(pwd | awk -F/ '{
    for(i=1;i<NF;i++){
        path=path"/"$i
        print path
    }
}'); do
    if [ -f "$dir/.envrc" ] && [ "$dir" != "$(pwd)" ]; then
        source_env "$dir/.envrc"
    fi
done


source venv/bin/activate
echo "LinkedIn_Auto_Connector_Bot environment variables set."